
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background-color: #e1baf0;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.header {
    display: flex;
    align-items: center;
    background-color: #e1baf0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    justify-content: space-between;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: #a264ba;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.title h1 {
    color: #a264ba;
    margin: 0;
    font-size: 24px;
}


.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.home{
    display: flex;
    align-items: center;
    background-color: #e1baf0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.home img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}
.home a{
    color: #a264ba;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    
}
.home:hover {
    background-color: rgb(179, 116, 179);
}
.customer{
    display: flex;
    align-items: center;
    background-color: #e1baf0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.customer img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}
.customer a{
    color: #a264ba;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.customer:hover{
    background-color: rgb(179, 116, 179);
}
.dept{
    display: flex;
    align-items: center;
    background-color: #e1baf0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.dept img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}
.dept a{
    color: #a264ba;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.dept:hover{
    background-color: rgb(179, 116, 179);
}
.mediabtn{
    display: flex;
    align-items: center;
    background-color: #e1baf0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.mediabtn img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    height: 200px;
}
.mediabtn a{
    color: #a264ba;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
.mediabtn:hover{
    background-color: rgb(179, 116, 179);
}

.account{
    display: flex;
    align-items: center;
    background-color: #e1baf0;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 400%;
}
.account img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}
.account a{
    color: #a264ba;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.account a:hover{
    background-color: #ffeb3b;
}

.sidebar .account a {
    text-decoration: none;
    color: #333;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    padding: 30px;
    background-color: #e1baf0;
}
.search input{
    width: 200px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search button {
    background-color: #e1baf0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.media-section {
    margin-bottom: 40px;
}
.media-section h2 {
    background-color: #f7e3a4;
    padding: 10px;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
}
.media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    width : 800px;
}
.media-grid img {
    width: 300px;
    
}
.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    width : 800px;
}
.video-grid video {
    width: 300px;
    
}
